# Generate a ROOT user with random ID and Token at startup.
# store them in .env incase we want to access ROOT later.
ROOT_USER_ID=
ROOT_SESSION_TOKEN=
ROOT_HASHED_PASS=

# Discord webooks (for sending messages to Discord)
WEBHOOK_ID=
WEBHOOK_TOKEN=

# Discord bot credentials
CHANNEL_ID=
BOT_TOKEN=
PERMISSIONS_INTEGER=66560

# Discord OAuth2 credentials
CLIENT_ID=
CLIENT_SECRET=
REDIRECT_URI=

### HOSTS/PORTS ###

REDIS_HOST=redis # The hostname of the Redis service
REDIS_PORT=6379 # The port on which Redis is running

API_PORT=8080 # Port used for serving pages, api endpoints, and websocket connections.