ROOT_USER_ID= # The ROOT user's UserID. Randomly generated every server-restart.
ROOT_SESSION_TOKEN= # The ROOT user's session token. Randomly generated every server-restart.
ROOT_HASHED_PASS= # The ROOT user's hashed pass. Randomly generated every server-restart.
BOT_TOKEN= # Discord bot token.
CHANNEL_ID= # Channel ID the bot should operate in.
WEBHOOK_ID= # https://discordapp.com/api/webhooks/${WEBHOOK_ID}/${WEBHOOK_TOKEN}
WEBHOOK_TOKEN= # https://discordapp.com/api/webhooks/${WEBHOOK_ID}/${WEBHOOK_TOKEN}
PERMISSIONS_INTEGER=66560 # Permissions the bot should have.
CLIENT_ID= # Discord OAuth2 Client ID.
CLIENT_SECRET= # Discord OAuth2 Client Secret.
REDIRECT_URI= # Discord OAuth2 Redirect URI.
DISCORD_INVITE_URL= # Discord Invite URL to send to clients.
REDIS_HOST=redis # The hostname of the Redis service.
REDIS_PORT=6379 # The port on which Redis is running.
API_PORT=8080 # Port used for serving pages, api endpoints, and websocket connections.
SESSION_TTL_HOURS=24 # How long a user session is valid before they must re-authenticate.
