# Node dependencies
node_modules/

# TypeScript
*.tsbuildinfo
dist/

# Yarn Berry / PnP
.pnp.cjs
.pnp.loader.mjs
.yarn/*
.yarn/build-state.yml
.yarn/install-state.gz
!.yarn/cache/
!.yarn/sdks
!.yarn/unplugged/

# Yarn lock (optional - commit if you want reproducible builds)
yarn.lock

# Environment variables
*.env*
!.env.example

# backups
/data/backup.json

# VSCode settings
tasks.json
*.code-workspace

# Logs
*.log

# Keep TODO files etc. local-only;
# Create an issue on GitHub for public TODO's
*.md
!LICENSE.md
!README.md