# Node dependencies
node_modules/
dist/

# Environment variables
*.env*
!.env.example

# VSCode settings
tasks.json
*.code-workspace

# Logs
*.log

# backups
/data/backup.json

# yarn
yarn.lock

# TypeScript
*.tsbuildinfo
