# Node dependencies
node_modules/

# TypeScript
*.tsbuildinfo
dist/

# yarn
yarn.lock

# Environment variables
*.env*
!.env.example

# backups
/data/backup.json

# VSCode settings
tasks.json
*.code-workspace

# Logs
*.log

# Keep TODO files local-only; public TODO's should be
# posted as Issues on the github instead.
*TODO*